.btable{

    flex: 1.4;
    background-color: #ffff;
    border-radius: 20px;

    .table1{
        position: absolute;
        margin-top: 95px;
        margin-left:6px;

        
        
    }
    .dat{
        color:#2B3674;
    }
}