.barchart{
    flex: 3.3;
    background-color: white;
    border-radius: 20px;
    height: 300px;
    .top-items{

        display: flex;
        justify-content: space-between;
        padding: 20px;

        .bri{
            background:#F4F7FE;
            color:#4318FF;
        }
       

    }
    .bottom-item{
        margin-top: -30px;
    }

}